<!DOCTYPE html>
<html lang="en">
<head>
	<title>Challenge Ahmad</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	{% load static %}
	<script src="{% static 'js/Chart.js' %}"></script>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<!--===============================================================================================-->
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="{% url 'get_weather' 1 1%}">What the weather like ?</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
		  {% if metro_id == '1' %}
        <a class="nav-link active" href="{% url 'get_weather' 1 1%}">Metro1 <span class="sr-only">(current)</span></a>
		  </li>
      	<li class="nav-item">
        	<a class="nav-link " href="{% url 'get_weather' 2 1%}">Metro2</a>
      	</li>
		<li class="nav-item">
        <a class="nav-link " href="{% url 'get_weather' 3 1%}">Metro3</a>
      </li>
		<li class="nav-item">
        <a class="nav-link " href="{% url 'get_weather' 4 1%}">Metro4</a>
      </li>
		  {% elif metro_id == '2' %}
		  <a class="nav-link" href="{% url 'get_weather' 1 1%}">Metro1 <span class="sr-only">(current)</span></a>
		  </li>
      	<li class="nav-item">
        	<a class="nav-link active" href="{% url 'get_weather' 2 1%}">Metro2</a>
      	</li>
		<li class="nav-item">
        <a class="nav-link " href="{% url 'get_weather' 3 1%}">Metro3</a>
      </li>
		<li class="nav-item">
        <a class="nav-link " href="{% url 'get_weather' 4 1%}">Metro4</a>
      </li>
		{% elif metro_id == '3' %}
		  <a class="nav-link" href="{% url 'get_weather' 1 1%}">Metro1</a>
		  </li>
      	<li class="nav-item">
        	<a class="nav-link " href="{% url 'get_weather' 2 1%}">Metro2</a>
      	</li>
		<li class="nav-item">
        <a class="nav-link active" href="{% url 'get_weather' 3 1%}">Metro3</a>
      </li>
        <li class="nav-item">
        <a class="nav-link " href="{% url 'get_weather' 4 1%}">Metro4</a>
      </li>
		{%else%}
		<a class="nav-link" href="{% url 'get_weather' 1 1%}">Metro1 <span class="sr-only">(current)</span></a>
		  </li>
      	<li class="nav-item">
        	<a class="nav-link " href="{% url 'get_weather' 2 1%}">Metro2</a>
      	</li>
		<li class="nav-item">
        <a class="nav-link " href="{% url 'get_weather' 3 1%}">Metro3</a>
      </li>
		<li class="nav-item">
        <a class="nav-link active" href="{% url 'get_weather' 4 1%}">Metro4</a>
      </li>
		{% endif %}
    </ul>

  </div>
</nav>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<div style="float:right">
						{% for i in page.paginator.page_range %}
							{% if metro.number == i %}
								<strong><a style="color:white">{{i}}</a></strong>
							{% else %}
							<a style="color:rgba(255,255,255,.5)" href="{% url 'get_weather' metro_id i%}">{{i}}</a>
						{% endif %}
						{% endfor %}
					</div>
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Date</th>
								<th class="column2">Temperature</th>
								<th class="column3">Wind</th>
								<th class="column4">Precipitation</th>
								<th class="column5">Pressure</th>
								<th class="column6">Humidity</th>
							</tr>
						</thead>
						<tbody>
						{% for i in metro%}

								<tr>
									<td class="column1">{{i.date}}</td>
									{% for v in i.variables %}
									{% if v.name == 'Temperature' %}
									<td class="column2">{{v.value|floatformat:"0" }}<sup>o</sup> C</td>
									{% elif v.name == 'Wind' %}
									<td class="column3">{{v.value|floatformat:"0" }} {{v.unit}}</td>
									{% elif v.name == 'Precipitation' %}
									<td class="column4">{{v.value|floatformat:"0" }} {{v.unit}}</td>
									{% elif v.name == 'Presure' %}
									<td class="column5">{{v.value|floatformat:"0" }} {{v.unit}}</td>
									{% else %}
									<td class="column6">{{v.value|floatformat:"0" }} {{v.unit}}</td>
									{% endif %}
									{% endfor %}
								</tr>

						{% endfor %}
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>

<!--the graph using CharJs-->
<canvas id="myChart" width="150px" height="40%"></canvas>
<script>
var tem ="{{ my_data|safe }}";
var dates = "{{ dates|safe}}";
console.log(dates);
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: dates.split(','),
        datasets: [{
            label: 'Metro{{metro_id|safe}} 2018',
            data: tem.split(','),
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});


</script>

<!--===============================================================================================-->	
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>

<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->

</body>
</html>